* {box-sizing: border-box}

body {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(bg2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
 }
 .form{
   border: 5px solid transparent;
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 50%);
  position: absolute;
  top: -20px;
  left: 870px;
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 25px;
}
.container {
  
  padding: 650px;
  margin: 20px;
  border: 0;
  padding-top: 50px;
}

input{
  
  width: 220px;
  height: 35px;
  background: transparent ;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

input[type=text]:focus, input[type=password]:focus {
  
  background-color: transparent;
  outline: none;
}

hr {
  
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: orange;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

